.listView {
  color: rgb(78, 70, 70);
  background-color: #f9f9f9;
  list-style: none;
  padding: 10%;
  text-align: left;
}

.petContainer {
  display: flex;
  flex-direction: column;
}

.actionButton {
  border: solid 1px blue;
  width: fit-content;
  align-self: center;
}
